
        <div class="head-bread">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="register.html">LOGIN</a></li>
                    <li class="active">Add Product</li>
                </ol>
            </div>
        </div>
        <!-- reg-form -->
	<div class="reg-form">
		<div class="container">
			<div class="reg">
				<h3>Thêm sản phẩm</h3>
			
				 <form>
					<ul>
						<li class="text-info">Name </li>
						<li><input type="text" placeholder="Enter name" value=""></li>
					</ul>
					<ul>
						<li class="text-info">Price </li>
						<li><input type="text" placeholder="Enter price" value=""></li>
					 </ul>				 
					<ul>
						<li class="text-info">Desc</li>
						<li><input type="text" placeholder="Enter desc" value=""></li>
					</ul>
							
					<input type="submit" value="Add Product">
				
				</form>
			</div>
		</div>
	</div>
        <app-product-footer></app-product-footer>