  
        <div class="header-end">
            <div class="container">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                
                  
                  <!-- Wrapper for slides -->
                 
                   <router-outlet></router-outlet>
                  

                  <!-- Controls -->
                  
                 
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        
     